$gray-light-0: #a0a0a0;
$gray-light-1: #a8a8a8;
$gray-light-2: #b0b0b0;
$gray-light-3: #b8b8b8;
$gray-light-4: #c0c0c0;
$gray-light-5: #d8d8d8;
$gray-light-6: #e0e0e0;
$gray-light-7: #e8e8e8;
$gray-light-8: #fafafa;
$gray-light-9: #fff;

$gray-mid-0: #606060;
$gray-mid-1: #666;
$gray-mid-2: #707070;
$gray-mid-3: #777;
$gray-mid-4: #808080;
$gray-mid-5: #888;
$gray-mid-6: #909090;
$gray-mid-7: #999;
$gray-mid-8: #a0a0a0;
$gray-mid-9: #a8a8a8;

$gray-dark-0: #080808;
$gray-dark-1: #101010;
$gray-dark-2: #1a1a1a;
$gray-dark-3: #202020;
$gray-dark-4: #222;
$gray-dark-5: #282828;
$gray-dark-6: #333;
$gray-dark-7: #383838;
$gray-dark-8: #444;
$gray-dark-9: #484848;
