:root {
  --gray-light-0: #a0a0a0;
  --gray-light-1: #a8a8a8;
  --gray-light-2: #b0b0b0;
  --gray-light-3: #b8b8b8;
  --gray-light-4: #c0c0c0;
  --gray-light-5: #d8d8d8;
  --gray-light-6: #e0e0e0;
  --gray-light-7: #e8e8e8;
  --gray-light-8: #fafafa;
  --gray-light-9: #fff;

  --gray-mid-0: #606060;
  --gray-mid-1: #666;
  --gray-mid-2: #707070;
  --gray-mid-3: #777;
  --gray-mid-4: #808080;
  --gray-mid-5: #888;
  --gray-mid-6: #909090;
  --gray-mid-7: #999;
  --gray-mid-8: #a0a0a0;
  --gray-mid-9: #a8a8a8;

  --gray-dark-0: #080808;
  --gray-dark-1: #101010;
  --gray-dark-2: #1a1a1a;
  --gray-dark-3: #202020;
  --gray-dark-4: #222;
  --gray-dark-5: #282828;
  --gray-dark-6: #333;
  --gray-dark-7: #383838;
  --gray-dark-8: #444;
  --gray-dark-9: #484848;
}

.gray-light-0 { color: var(--gray-light-0); }
.gray-light-1 { color: var(--gray-light-1); }
.gray-light-2 { color: var(--gray-light-2); }
.gray-light-3 { color: var(--gray-light-3); }
.gray-light-4 { color: var(--gray-light-4); }
.gray-light-5 { color: var(--gray-light-5); }
.gray-light-6 { color: var(--gray-light-6); }
.gray-light-7 { color: var(--gray-light-7); }
.gray-light-8 { color: var(--gray-light-8); }
.gray-light-9 { color: var(--gray-light-9); }

.gray-mid-0 { color: var(--gray-mid-0); }
.gray-mid-1 { color: var(--gray-mid-1); }
.gray-mid-2 { color: var(--gray-mid-2); }
.gray-mid-3 { color: var(--gray-mid-3); }
.gray-mid-4 { color: var(--gray-mid-4); }
.gray-mid-5 { color: var(--gray-mid-5); }
.gray-mid-6 { color: var(--gray-mid-6); }
.gray-mid-7 { color: var(--gray-mid-7); }
.gray-mid-8 { color: var(--gray-mid-8); }
.gray-mid-9 { color: var(--gray-mid-9); }

.gray-dark-0 { color: var(--gray-dark-0); }
.gray-dark-1 { color: var(--gray-dark-1); }
.gray-dark-2 { color: var(--gray-dark-2); }
.gray-dark-3 { color: var(--gray-dark-3); }
.gray-dark-4 { color: var(--gray-dark-4); }
.gray-dark-5 { color: var(--gray-dark-5); }
.gray-dark-6 { color: var(--gray-dark-6); }
.gray-dark-7 { color: var(--gray-dark-7); }
.gray-dark-8 { color: var(--gray-dark-8); }
.gray-dark-9 { color: var(--gray-dark-9); }

.bg-gray-light-0 { background-color: var(--gray-light-0); }
.bg-gray-light-1 { background-color: var(--gray-light-1); }
.bg-gray-light-2 { background-color: var(--gray-light-2); }
.bg-gray-light-3 { background-color: var(--gray-light-3); }
.bg-gray-light-4 { background-color: var(--gray-light-4); }
.bg-gray-light-5 { background-color: var(--gray-light-5); }
.bg-gray-light-6 { background-color: var(--gray-light-6); }
.bg-gray-light-7 { background-color: var(--gray-light-7); }
.bg-gray-light-8 { background-color: var(--gray-light-8); }
.bg-gray-light-9 { background-color: var(--gray-light-9); }

.bg-gray-mid-0 { background-color: var(--gray-mid-0); }
.bg-gray-mid-1 { background-color: var(--gray-mid-1); }
.bg-gray-mid-2 { background-color: var(--gray-mid-2); }
.bg-gray-mid-3 { background-color: var(--gray-mid-3); }
.bg-gray-mid-4 { background-color: var(--gray-mid-4); }
.bg-gray-mid-5 { background-color: var(--gray-mid-5); }
.bg-gray-mid-6 { background-color: var(--gray-mid-6); }
.bg-gray-mid-7 { background-color: var(--gray-mid-7); }
.bg-gray-mid-8 { background-color: var(--gray-mid-8); }
.bg-gray-mid-9 { background-color: var(--gray-mid-9); }

.bg-gray-dark-0 { background-color: var(--gray-dark-0); }
.bg-gray-dark-1 { background-color: var(--gray-dark-1); }
.bg-gray-dark-2 { background-color: var(--gray-dark-2); }
.bg-gray-dark-3 { background-color: var(--gray-dark-3); }
.bg-gray-dark-4 { background-color: var(--gray-dark-4); }
.bg-gray-dark-5 { background-color: var(--gray-dark-5); }
.bg-gray-dark-6 { background-color: var(--gray-dark-6); }
.bg-gray-dark-7 { background-color: var(--gray-dark-7); }
.bg-gray-dark-8 { background-color: var(--gray-dark-8); }
.bg-gray-dark-9 { background-color: var(--gray-dark-9); }
